section.bg-primary
    .container
        .row
            .col-lg-8.mx-auto.text-center
                h2.section-heading.text-white 加入我们
                hr.light.my-4
                p.text-faded.mb-4
                    | 西安树果科技有限公司是专业从事智能安防监控系统生产经营的高新技术企业，
                    | 致力于运用移动互联网、人工智能、云计算等新兴技术为客户提供全方位自动监测预警产品和服务，
                    | 满足客户安全生产需求。企业以高校科研平台为依托，集聚了电信、软件、金融等各领域的高素质人才，掌握着先进技术成果。
section#joinus
    .container
        .row
            .col-lg-12.text-center
                h2.section-heading 招聘信息
                hr.my-4
    .container
        .row
            .col-lg-6.ml-auto.text-center
                img.img-recruit(src='img/recruit/01-min.jpeg', alt='')

            .col-lg-6.ml-auto.text-center
                img.img-recruit(src='img/recruit/02-min.jpeg', alt='')

section
    .container
        .row
            .col-lg-8.mx-auto.text-center
                h2.section-heading 联系我们
                hr.my-4
                p.mb-5 如果您对树果科技服务与产品感兴趣，请您联系我们。
        .row
            .col-lg-4.ml-auto.text-center
                i.fa.fa-phone.fa-3x.mb-3.sr-contact
                p 155-9468-1543
            .col-lg-4.mr-auto.text-center
                i.fa.fa-envelope-o.fa-3x.mb-3.sr-contact
                p
                    a(href='mailto:your-email@your-domain.com') support@shuguotech.cn
// Bootstrap core JavaScript
script(src='/vendor/jquery/jquery.min.js')
script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
// Plugin JavaScript
script(src='/vendor/jquery-easing/jquery.easing.min.js')
script(src='/vendor/scrollreveal/scrollreveal.min.js')
script(src='/vendor/magnific-popup/jquery.magnific-popup.min.js')
// Custom scripts for this template
script(src='/js/creative.min.js')
