nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
        a.navbar-brand.js-scroll-trigger(href='#page-top') 树果科技
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') 解决方案
                    .dropdown-menu
                        a.dropdown-item(href='#services')  企业服务
                        a.dropdown-item(href='#services') 个人服务

                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') 核心产品
                    .dropdown-menu
                        a.dropdown-item(href='#portfolio') 智慧之眼

                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') 关于我们
                    .dropdown-menu
                        a.dropdown-item(href='#about') 公司简介
                        a.dropdown-item(href='/joinus.html') 加入我们
                        a.dropdown-item(href='#contac') 联系我们